@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* {
     box-sizing: border-box;
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 400;
   }

html {
  font-size:1rem;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  
}

body {
  background-color: #111111 ;
color: #222222

}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.main {
  padding: 0;
  margin-bottom: 2rem;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 5rem;
  color: white;
  margin-top: 0;
  line-height: 120%;
}

h2 {
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 2rem;
  color: #222222
}

h3 {
  margin: 0;
}

h4 {
  font-size: 1.5rem;
}

h6 {
  font-size:1rem;
  color: #FFD645;
}

p {
  margin: 0;
  line-height: 150%;
}

nav {
  background-color: #000000;
  overflow: hidden;
  width: 100%;
  top: 0;
  height: 3.5rem;
  display: flex;
  position: fixed;
  z-index: 10;
  padding: 0rem 2rem;
}

.logo-download {
  max-width: 8rem;
  margin-bottom: 1rem;
}

.header {
  color: white;
}

.nav-wrapper {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 1200px;
}

.nav-logo {
  height: 2rem;
}

.nav-title {
  font-weight: 300;
  font-size: 1.25rem;
  margin-left: 0.5rem;
  color: white;
}

button {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 2px;
  font-size: 1.15rem;
  font-weight: 400;
  cursor: pointer;
  color: #000000;
  background-color: #FFD645;
  min-width: 10rem;
}

button:hover {
  background-color: #3734A9;
  color: white;
  transition: all 0.2s ease
}

.hero {
  background-color: #111111;
  
}

.hero-wrapper {
  margin: 6rem auto 5rem auto;
  max-width: 1000px;
  text-align: center;
}

.hero-title {
  text-align: center;
  margin-bottom: 3rem;
}

.hero-image-wrapper {
display: flex;
justify-content: center;
margin-bottom: 5rem;
}

.sub-header {
  font-size: 1rem;
  color: #FFD645;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.sub-title {
  max-width: 640px;
  color: white;
  margin: 0 auto 5rem auto;
}

.icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  color: white;
  opacity: 0.5;
}

.fab {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.hero-image {
  max-width: 65vw;
  margin-bottom: 5rem;
}

.showcase {
  background-color: white;
  padding-top: 8rem;
  padding-bottom: 8rem;
  text-align: center;
}

.showcase-wrapper {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#download-section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: white;
  color: #3734A9
}

.download-wrapper {
  text-align: center;
}

.download-button-wrapper {
  margin-top: 3rem;
}

.download-button {
  margin: 0.5rem 0.5rem;

}


.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-50 {
  width: 50%;
}

.team-wrapper {
  margin: 5rem auto 5rem auto;
  display: flex;
  justify-content: center;
  color: white;
}

.developerBio {
  color: white;
  margin-bottom: 1.5rem;
}

.devGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
}

.developerImage {
  width: 100%;
  border-radius: 8px;
}

a.githubLink {
  color: white;
}


footer {
  text-align: center;
  color: white;
}

/* .navbar ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  text-align: right;
  list-style: none;
  padding: 0 15px;
}

.navbar ul a {
  color: white;
  font-weight: 500;
  text-decoration: none;
} */


/* .title-text {
  font-size: 2.8rem;
  display: block;
  text-align: center;
  padding-bottom: 20px;
} */

/*.secondary-text {
   font-size: 1.7rem;
  text-align: center;
  display: block;
}

.paragraph-text {
  font-size: 1.5rem;
  text-align: center;
  max-width: 1000px;
  display: block;
  margin-bottom: 50px;
}

.text-wrapper {
  width: 100%;
  height: auto;
  position: absolute;
  padding: 0 5% 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.text-wrapper_inner {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: left;
  padding: 5%;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
} */
/* 
#logo {
  width: 300px !important;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 5;
  padding-bottom: 20px;
  animation: fadeIn 2s linear 1;
} */

/* #lockup {
  width: 200px;
  height: auto;
  margin: 0 auto 50px;
  display: inherit;
} */

/* .downloadGradient {
  padding: 3px;
  margin: 10px;
  border-radius: 3px;
  background: #15b78f;
  background: -moz-linear-gradient(-45deg, #15b78f 0%, #009bbf 100%);
  background: -webkit-linear-gradient(-45deg, #15b78f 0%, #009bbf 100%);
  background: linear-gradient(135deg, #15b78f 0%, #009bbf 100%);
  animation: Gradient 1s linear infinite;
}

.downloadDiv {
  background: white;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.download-btn-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin: 0 auto;
}

.download-btn {
  padding: 10px 10px;
  text-decoration: none;
  text-align: center;
  background: #15b78f;
  background: -moz-linear-gradient(-45deg, #15b78f 0%, #009bbf 100%);
  background: -webkit-linear-gradient(-45deg, #15b78f 0%, #009bbf 100%);
  background: linear-gradient(135deg, #15b78f 0%, #009bbf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15b78f', endColorstr='#009bbf',GradientType=1 );
  font-size: 1rem;
  color: white;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  width: 150px;
  margin: 0 5px;
}

#download-btn:hover {
  background: #15b78f !important;
} */

#text-content {
  background: white;
  height: auto;
  /* width: 100vw; */
  padding: 100px 80px;
  font-size: 1.2em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.sub-text {
  text-align: center;
  display: inherit;
  margin: 20px 0 0 0;
}

.screenShot {
  width: 75%;
  max-width: 700px; 
  height: auto;
  margin: 0 10px;
  display: block;
}


.githubLink {
  text-decoration: none;
  font-size: 0.9rem;
}

.footer 
  padding-top: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#balance {
  height: 30px;
}

@media only screen and (max-width: 768px) {
  .text-wrapper {
    padding: 0;
  }

  .navbar ul {
    justify-content: center;
  }

  .navbar ul li {
    margin: 1px;
    text-align: center;
    /* background: pink; */
    height: 50px;
  }

  /* #logo {
    width: 150px !important;
    height: auto;
    transform: translateY(65px);
    margin-top: 10%;
    margin-bottom: 35%;
  } */

  /* .logo-img {
    width: 150px;
    height: auto;
    margin: 0 auto 25px;
    display: block;
  } */

  /* #lockup {
    width: 200px;
    height: auto;
    margin: 0 auto 50px;
    display: inherit;
  }

  #logo-lockup {
    width: 130px;
    height: auto;
  } */


  .download-btn-wrap {
    flex-direction: column;
  }

  .download-btn {
    font-size: 0.7rem;
    margin: 0 auto 15px;
    width: 35vw;
  }


  .developerBio {
    margin: 10px;
  }


@media only screen and (max-width: 768px) and (min-width: 720px) {
  #text-content .secondary-text {
    font-size: 1.7rem !important;
  }
  #text-content .paragraph-text {
    font-size: 1.2rem !important;
  }
}

/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
/* 
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
    background-size: 400% 400%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
    background-size: 100% 100%;
  }
} */
